@use './variables' as variables;

// * {
//   outline: 1px solid #1a01ff;
//   background-color: #b1ddad;
// }

html {
  // font-size: 10px;
  // font-size: 62.5%;
  // scrollbar-color: variables.$purple1 variables.$pink1;
  scrollbar-width: thin;
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
//   // background-color: variables.$purple1;
// }

::-webkit-scrollbar-thumb {
  // background: variables.$pink1;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include variables.media-up(xxl) {
    max-width: 1238px;
  }

  .row {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    justify-content: flex-start;
    flex-wrap: wrap;

    &--footer {
      .col {
        flex-grow: 1;
        margin-bottom: 20px;

        &:first-of-type {
          @include variables.media-down(xl) {
            width: 100%;
          }
        }
      }
    }

    .col {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}