$white: #ffffff;
$whiteAlpha1: rgba(255, 255, 255, 0.07);
$whiteAlpha2: rgba(255, 255, 255, 0.5);
$whiteAlpha3: rgba(255, 255, 255, 0.1);
$black: #000000;
$blackAlpha1: rgba(0, 0, 0, 0.01);
$blackAlpha2: rgba(0, 0, 0, 0.05);
$blackAlpha3: rgba(0, 0, 0, 0.09);
$gray1: #C5BABA;
$gray2Alpha1: rgba(178, 178, 178, 0.26);


$pinkwhite: #F8EDFF;
$pink1: #FF00A8;
$pink1Alpha1: rgba(255, 0, 168, 0.5);
$purple1: #BD00FF;
$purple1Alpha1: rgba(189, 0, 255, 0.5);
$purple2Alpha1: rgba(54, 11, 44, 0.7);

$breakpoints: (
  "xs": 0,
  "sm": 576,
  "md": 744,
  "lg": 992,
  "xl": 1200,
  "xxl": 1400,
  "xxxl": 1800
);

@mixin media-down($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint) - 1px;

  @media screen and (max-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-up($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint)+0px;

  @media screen and (min-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-between($breakpointMin, $breakpointMax) {
  $pixelsBreakpointMin: map-get($breakpoints, $breakpointMin)+0px;
  $pixelsBreakpointMax: map-get($breakpoints, $breakpointMax) - 1px;

  @media screen and (min-width: $pixelsBreakpointMin) and (max-width: $pixelsBreakpointMax) {
    @content;
  }
}