$white: #ffffff;
$whiteAlpha1: rgba(255, 255, 255, 0.1);
$black: #000000;
$almostBlack: #07141D;
$almostBlack2: #000815;
$blueGray: #3D4656;
$green: #1ddb49;
$green2: #30C953;

$breakpoints: (
  "xs": 0,
  "sm": 576,
  "md": 744,
  "lg": 992,
  "xl": 1200,
  "xxl": 1400,
  "xxxl": 1800
);

@function pxtorem($pixels) {
  $result: $pixels * 0.0625;
  @return $result*1rem;
}

@mixin media-down($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint) - 1px;

  @media screen and (max-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-up($breakpoint) {
  $pixelsBreakpoint: map-get($breakpoints, $breakpoint)+0px;

  @media screen and (min-width: $pixelsBreakpoint) {
    @content;
  }
}

@mixin media-between($breakpointMin, $breakpointMax) {
  $pixelsBreakpointMin: map-get($breakpoints, $breakpointMin)+0px;
  $pixelsBreakpointMax: map-get($breakpoints, $breakpointMax) - 1px;

  @media screen and (min-width: $pixelsBreakpointMin) and (max-width: $pixelsBreakpointMax) {
    @content;
  }
}