@use '../variables' as variables;

.footer {
  background-color: variables.$almostBlack;

  p {
    color: variables.$white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: variables.pxtorem(14);
    line-height: variables.pxtorem(24);
    font-weight: 400;
  }

  &__copyright {
    text-align: center;
  }
}