@import './logo.scss';
@import './main-nav.scss';
@import './hamburger.scss';
@import './main-menu.scss';
@import './language-switcher.scss';

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    .row {
      .col {
        width: 100%;
      }
    }
  }
}