@use '../variables' as variables;

.logo {
  width: variables.pxtorem(134);
  height: variables.pxtorem(30);
  display: inline-block;

  @include variables.media-up(xl) {
    width: variables.pxtorem(204);
    height: variables.pxtorem(33);
    margin-left: variables.pxtorem(21);
  }
}