@use '../variables' as variables;

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 0;
  position: relative;

  @include variables.media-up(xl) {
    flex-wrap: nowrap;
  }
}