@use '../../src/sass/variables' as variables;

.heading-slider-button {
  padding: 84px 0 40px 0;

  .double-heading {
    margin-bottom: 76px;
  }

  .simple-button {
    margin-top: 70px;
  }

  .splide {
    border: 5px solid variables.$gray;
    display: block;
    margin: 0 auto;
    padding: 13px;

    @include variables.media-up(xxl) {
      width: 1264px;
    }

    .splide__track {
      .splide__list {
        .splide__slide {
          display: flex;
          flex-wrap: nowrap;

          &-content {
            margin-left: 31px;
            margin-top: 22px;

            .splide__slide-link-title {
              font-family: 'Open Sans', sans-serif;
              font-size: variables.pxtorem(26);
              line-height: variables.pxtorem(32);
              font-weight: 800;
              color: variables.$blueGray;
              margin: 0 0 2px 0;
              padding: 0;
              font-style: italic;
              text-decoration: none;
              transform: all 0.5s ease;

              &:hover {
                color: variables.$green;
                transform: all 0.5s ease;
              }

              .splide__slide-title {
                margin: 0;
                padding: 0;
              }
            }

            .splide__slide-info {
              font-family: 'Open Sans', sans-serif;
              font-size: variables.pxtorem(15);
              line-height: variables.pxtorem(32);
              font-weight: 600;
              color: variables.$green;
              margin: 0 0 21px 0;
              padding: 0;
              letter-spacing: 2.3px;
            }

            .splide__slide-list {
              list-style: none;
              margin: 0;
              padding: 0 0 0 10px;

              &-item {
                font-family: 'Open Sans', sans-serif;
                font-size: variables.pxtorem(17);
                line-height: variables.pxtorem(30);
                color: variables.$blueGray;
                font-weight: 600;
                margin: 0 0 9px 0;
                padding: 0;
                position: relative;

                &:before {
                  content: '';
                  width: 10px;
                  height: 10px;
                  display: inline-block;
                  background-color: variables.$green;
                  position: relative;
                  top: -2px;
                  left: -10px;
                }
              }
            }
          }
        }
      }
    }

    .splide__arrows {
      .splide__arrow {
        width: 55px;
        height: 55px;
        background-color: variables.$gray;
        border-radius: 0;
        transition: all 0.3s ease;
        opacity: 1;

        &:disabled {
          opacity: 0;
        }

        &:hover {
          background-color: variables.$green;
          transition: all 0.3s ease;

          svg {
            fill: variables.$white;
            transition: all 0.3s ease;
          }
        }

        &--next {
          right: -2.1em;
        }

        &--prev {
          left: -2.1em;
        }

        svg {
          fill: variables.$green;
          transition: all 0.3s ease;
        }
      }
    }
  }
}